body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 64px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

button {
    padding: 8px 32px;
    border-radius: 4px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}